.carousel {
    width: 100vw;
	height: 100vh;
	overflow-y: hidden;
}



.arrows{
    /* top: 45vh; */
	width: 80px;
	height: 80px;
	color: #1E90FF;
    text-align: center;
	opacity: 0.6;
	transition: 0.2s;
}

.arrows > .nextArrow {
	right: 5vw;
}