.carousel{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "a b c";
}
    
.arr{
    /* top: 45vh; */
    /* text-align: center; */
	/* width: 80px;
	height: 80px; */
	color: #1E90FF;
	opacity: 0.5;
}

.arr.rightArr{
    grid-area: c;
    justify-self: end;
    padding-right: 2em;
    padding-top: 50%;
}

.arr.leftArr{
    grid-area: a;
    justify-self: start;
    padding-left: 2em;
    padding-top: 50%;
}
